*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/code
MANIFEST.MF
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
lib/
target